nav {
  $nav-width: 145px;
  position: relative;
  height: 100%;
  width: $nav-width;
  background-color: $color-primary;
  color: $accent-two;
  
  #nav_logo {
    height: $nav-width;
    width: inherit;
  }

  ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: inherit;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;

    li {
      list-style-type: none;

      a {
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        padding: 20px 25px;
        padding-left: 20px;
        height: 100%;
        width: 100%;
        color: inherit;
        /*border-top: 2px solid $color-secondary;*/
        
        &:hover {
          background-color: $accent-three;
          color: $color-secondary;
        }

        &, &:hover {
          transition: background-color 0.25s, color 0.25s;
        }
      }

      &:last-of-type a {
        /* border-bottom: 2px solid $color-secondary; */
      }

      &.subnav > ul {
        padding: 0 0 0 20px;
        font-size: 0.9em;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        transition-delay: 0.5s;

        a {
          border: none;
        }
      }

      &.subnav:hover > ul {
        max-height: 500px;
        transition-delay: 0s;
      }
    }
  }
}
